<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="theRightDirection.Library.UnitTesting" type="theRightDirection.Library.UnitTesting.UnitTestingConfiguration, theRightDirection.Library.UnitTesting, Version=1.0.0.0,Culture=neutral"/>
  </configSections>
  <connectionStrings>
    <add name="TestDatabase" connectionString="Server=.\sqlexpress;Database=testdatabase;Integrated Security=true"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Moq" publicKeyToken="69f491c39445e920" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.13.0.0" newVersion="4.13.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ploeh.AutoFixture" publicKeyToken="b24654c590009d4f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.21.0.0" newVersion="3.21.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.5.3.0" newVersion="5.5.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <theRightDirection.Library.UnitTesting>
    <Configuration>
      <UnitTestingConfigurationProperty key="servername" value=".\sqlexpress"/>
      <UnitTestingConfigurationProperty key="databasename" value="testdatabase"/>
    </Configuration>
  </theRightDirection.Library.UnitTesting>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
